@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap");

:root {
  --mainBlue: #007bff;
  --mainGrey: #f0f0f0;
  --mainDarkBlue: #00006a;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "IranianSans";
  font-weight: 600;
  background-color: var(--mainGrey);
}
.rtl {
  direction: rtl;
}

.ltr {
  direction: ltr;
}

/* Header */

.header-title {
  font-size: 2.5rem;
  font-weight: bold;
  background-color: var(--mainDarkBlue);
  padding: 20px 0;
}

.header-title a:hover {
  text-decoration: none;
}

.header-title span {
  color: orange;
}

.swiper {
  width: 100vw;
  height: 80vh;
}

.swiper-slide {
  width: 100%;
}

.swiper-slide img {
  object-fit: contain;
}
/* <!-- Name and address --> */
.name-address {
  color: var(--mainDarkBlue);
}

.name-profIMG .user-img {
  color: gray;
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  border: solid 3px grey;
  border-radius: 50%;
  padding: 1.2rem;
}

.name-profIMG .likes {
  color: red;
}

.likes-comments {
  border-bottom: solid 2px gray;
}
/* <!-- Address and Phone number --> */

.address-PHNum {
  height: 150px;
}

/* <!-- Map & SocialMedia --> */

.map-socialmedia {
  background-color: var(--mainDarkBlue);
  padding: 5px;
  height: calc(100% - 150px);
  margin-bottom: 50px;
}

.socialMedia p {
  font-weight: 100;
  color: white;
  margin: 5px 0 0;
}

.map-socialmedia .map {
  background-color: white;
}

.comment-num {
  height: 50px;
}

.comment-num .num {
  background-color: var(--mainDarkBlue);
  width: 40px;
  text-align: center;
  color: white;
  border-radius: 20px;
  padding: 2px 0px;
}

/* <!-- Description and Comments --> */

.description-comments {
  height: 400px;
  column-gap: 10px;
}

.description {
  background-color: white;
  text-align: justify;
  padding: 2.5rem 2rem;
}

.comments-box {
  background-color: white;
  padding: 2.5rem 2rem;
}

.users-comment {
  height: calc((100%) / 4);
}

.users-comment .stars {
  color: gold;
}
